@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import "primereact/resources/themes/lara-dark-blue/theme.css";
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

body {
  padding: 0;
  margin: 0;
}

.container {
  min-height: 75vh;
}
.navbar {
  padding: 40px 20px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbar img {
  max-width: 200px;
}

.navbar .reload-button {
  justify-self: flex-end;
}

.center {
  text-align: center;
}
.p-dialog-title {
  text-transform: capitalize;
}